
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewGuide</title>
    <link rel="stylesheet" href="~/Content/Index.css" />
</head>
<body>
    <div>
        <h1>River Riddle</h1>
    </div>
    <div>
        <table class="divider-table">
            <tr>
                <th><p>Rules</p></th>
                <th><p>Controls</p></th>
            </tr>
            <tr>
                <td>
                    <p>
                        <br />
                        <br />
                        A Farmer with their Fox, Chicken and bag of Corn come to the east side of a River they wish to cross.
                        <br>Luckily there is a bot at the Rivers edge, but of course only the Farmer can row
                        <br>The Boat can carry TWO things, including the rower, at any one time.
                        <br>If the Fox is left alone with the Chicken, the Fox will eat the Chicken.
                        <br>If the Chicken is left alone with the Corn, the Chicken will eat the Corn.
                        <br>How can the Farmer cross the River so that all FOUR arrive safely on the other side?
                    </p>

                </td>
                <td>
                    <p>
                        Click on the Character/Item you wish to select to put onto the Boat
                        <br />The Character/Item will be placed on the Boat
                        <br />To remove Characters/Item of the Boat click on the Character/Item you wish to remove and
                        they will be moved to the side of the River that the Boat is on
                        <br />You may place a maximum of TWO Characters/Item on the Boat at any given time
                        <br />When you are happy with your choice click the Confirm Button
                        <br />This will send the Character across the River
                    </p>
                </td>
            </tr>
        </table>
        <div>
            <a href='@Url.Action("PlayGame", "Game")'>
                <input type="button" value="START" class="btn btn-lg" />
            </a>
        </div>
    </div>
</body>
</html>
