body {
    background-color: #D9BFCC;
    font-family: 'Courier New';
    font-weight: bold;
    color: #270D1D;
}

h1 {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 10px;
    margin: 100px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    font-size: larger
}
h3 {
    color: #270D1D;
    font-weight: bold;
    text-align: center
}
body > div {
    text-align: center;
}
.btn {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 10px;
    margin: 100px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
    font-size: larger
}

p {
    line-height: 30px;
    font-weight:bold;
    font-size: larger
}


    .divider-table td + td{
        border-left: 2px solid #270D1D;
        border-right: 2px solid #270D1D;
        padding-left: 20px;
        vertical-align: middle;
    }


