body {
    background-color: #D9BFCC;
    font-family: 'Courier New';
    font-weight: bold;
    color: #270D1D;
}

h1 {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 15px;
    margin: 100px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
h2 {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 15px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
h3 {
    color: #270D1D;
    font-weight: bold;
    text-align: center
}
body > div {
    text-align: center;
}

.btn {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 10px;
    margin: 100px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
    font-size: larger
}
table {
    width: 100%
}

th, td {
    border: 2px solid #270D1D;
    background-color: #cca7ba;
    border-collapse: collapse;
    table-layout: fixed;
    width: 50%;
    font-size: larger;
    font-weight: bold;
    line-height: 40px;
}


.game-layout {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 40px;
}

.left-pannel {
    width: 400px;
    height: 600px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 2px 0 #270D1D;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
}

.game-box {
    width: 1200px;
    height: 600px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    box-shadow: 2px 2px 0 #270D1D;
}


.status-box {
    width: 1200px;
    height: 50px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    box-shadow: 2px 2px 0 #270D1D;
    font-size: large;
    font-weight: bold;
}

.right-pannel {
    width: 400px;
    height: 600px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 2px 0 #270D1D;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
}

