body {
    background-color: #D9BFCC;
    font-family: 'Courier New';
    font-weight: bold;
    color: #270D1D;
}

h1 {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 15px;
    margin: 100px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}
h2 {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 15px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
h3 {
    color: #270D1D;
    font-weight: bold;
    text-align: center
}
body > div {
    text-align: center;
}

.btn {
    background-color: #472F36;
    border: 8px solid #E49EBF;
    border-radius: 25px;
    padding: 10px;
    margin: 100px;
    color: #E9DDE5;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
    cursor: pointer;
    font-size: larger
}
table {
    width: 100%
}

th, td {
    border: 2px solid #270D1D;
    background-color: #cca7ba;
    border-collapse: collapse;
    table-layout: fixed;
    width: 50%;
    font-size: larger;
    font-weight: bold;
    line-height: 40px;
}


.game-layout {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    gap: 40px;
}

.left-pannel {
    width: 400px;
    height: 600px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 2px 0 #270D1D;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
}

.game-box {
    position: relative;
    width: 1200px;
    height: 600px;
    border: 2px solid #270D1D;
    border-radius: 12px;
    box-shadow: 2px 2px 0 #270D1D;

    background-image: url('../Images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.status-box {
    width: 1200px;
    height: 50px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    box-shadow: 2px 2px 0 #270D1D;
    font-size: large;
    font-weight: bold;
}

.right-pannel {
    width: 400px;
    height: 600px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 2px 0 #270D1D;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
}



.characters-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    padding-top: 380px
}

.boat-passengers {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    left: 0;
    bottom: 20px;
    z-index: 2;
    border: 5px solid red !important;
}

.character {
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 2;
    border: 5px solid red !important;
}

/*.bank-west .character {
    left:50px;
    top:250px;
}

.bank-east .character {
    right:50px;
    top:250px;
}*/


/*.bank {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}*/



.boat {
    position: absolute;
    bottom: 50px;

    z-index: 1;
    width: 128px;
    height: 128px;
    display: block;
}

.boat.east{
    right: 400px;
}

.boat.west{
    left: 400px;
}

.boat-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    height:40px;
    background-color: #cca7ba;
    border: 2px solid #270D1D;
    border-radius: 12px;
    font-size: large;
    font-weight: bold;

    font-family: 'Courier New';
    font-weight: bold;
    color: #270D1D;
}


