
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
    <link rel="stylesheet" href="~/Content/Index.css" />
</head>
<body>
    <div>
        <h1>River Riddle</h1>
        <h3>
            Hello!! Welcome to the River Riddle Game!
            <br>
            <br> This is a digitally drawn pixel art game created by Molly & Thomas. We hope you have fun playing our game :)
            <br> In this game, you must solve a riddle to ensure the safety of your party
            <br> Ready to play? Click the button below to begin!
            @* home page text introducing the game *@
        </h3>
    </div>
    <div>
        <a href='@Url.Action("ViewGuide", "Guide")'>
            <input type="button" value="BEGIN" class="btn btn-lg" />
        </a>
        @* begin button that takes the user to the viewguide view within the guide controller *@
    </div>
</body>
</html>
